.main_div{
    display: grid;
    gap: 1em;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;

    width: 100%;
}
h1{
    text-align: center;
}

div.parent{
    width: 100%;
    height: 600px;
    background-color: rgb(250, 250, 20);
}
div.parent_div1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
div.child_div1{
    background-color: rgb(88, 88, 214);
    margin: 1em;
}

div.parent_div2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}
div.child_div2{
    background-color: rgb(88, 88, 214);
    margin: 1em;
}

div.parent_div3{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}
div.child_div3{
    background-color: rgb(87, 87, 216);
    margin: 1em 7em;
    background-image: url('https://images.pexels.com/photos/774731/pexels-photo-774731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    object-fit: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
img{
    margin: 2em;
}
.white{
    color: rgb(245, 21, 21);
}

@media screen and (max-width:768px) {
    .main_div{
        grid-template-columns: 1fr  ;
    }

}
